html {
  line-height: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  text-align: center;
  margin-top: 40px;
}

/*Первый персонаж*/
#pervyy {
    position: relative;
    display: inline-block;
    height: 190px;
    width: 185px;
}
#pervyy:after { /*верх шапки*/
    content: " ";
    border-radius: 40% 40% 20% 20%;
    position: absolute;
    top: 15px;
    left: 75px;
    width: 40px;
    height: 15px;
    background: #f0e915;
    z-index: 99;
}
#pervyy .face { /*лицо*/
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 26px;
    width: 132px;
    height: 106px;
    overflow: hidden;
    background: #fdd2a8;
    z-index: 15;
}
#pervyy .face .hat { /*шапка*/
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 78px;
    background: #46c1be;
}
#pervyy .face .hat:before { /*обводка шапки*/
    content: " "; 
    border-radius: 65% 40%;
    position: absolute;
    top: 25px;
    left: -3px;
    width: 134px;
    height: 48px;
    background: #f0e915;
}
#pervyy .face .hat:after { /*лицо часть*/
    content: " ";
    border-radius: 65% 40%;
    position: absolute;
    top: 29px;
    left: -6px;
    width: 137px;
    height: 52px;
    background: #f8d3aa;
}
#pervyy .face .eye-left, #pervyy .face .eye-right { /*глаза*/
    border-radius: 65% 50%;
    position: absolute;
    top: 35px;
    left: 36px;
    width: 32px;
    height: 37px;
    background: #ffffff;
}
#pervyy .face .eye-left:after, #pervyy .face .eye-right:after { /*зрачки*/
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 16px;
    left: 26px;
    height: 3px;
    width: 3px;
    background: #000000;
}
#pervyy .face .eye-right { /*глаз П*/
    border-radius: 50% 65%;
    left: 69px;
}
#pervyy .face .smile { /*улыбка*/
    border-radius: 65% 50%;
    box-shadow: 0 1px 0 black;
    position: absolute;
    top: 79px;
    left: 60px;
    width: 20px;
    height: 8px;
}

#pervyy .face .smilez { /*подбородок1*/
    border-radius: 80%;
    box-shadow: 0 1px 0 black;
    position: absolute;
    top: 80px;
    left: 48px;
    width: 40px;
    height: 15px;
}

#pervyy .face .smilezz { /*подбородок2*/
    border-radius: 50%;
    box-shadow: 0 1px 0 black;
    position: absolute;
    top: 90px;
    left: 25px;
    width: 80px;
    height: 10px;
}

#pervyy .body { /*куртка*/
    border-radius: 50% 50% 33% 33%;
    position: absolute;
    top: 80px;
    left: 13px;
    height: 90px;
    width: 160px;
    background: #c30f32;
    z-index: 10;
}
#pervyy .body .zipper { /*Молния*/
    position: absolute;
    top: 48px;
    left: 86px;
    width: 1px;
    height: 42px;
    background: #000000;
}
#pervyy .body .button-1, #pervyy .body .button-2, #pervyy .body .button-3 { /*пуговицы*/
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 82px;
    height: 4px;
    width: 2px;
    background: #000000;
}
#pervyy .body .button-2 { /*пуговица 2*/
    top: 67px;
}
#pervyy .body .button-3 { /*пуговица 3*/
    top: 82px;
}
#pervyy .body .hand-left { /*рука л*/
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    top: 38px;
    left: -11px;
    width: 29px;
    height: 22px;
    background: #f0e915;
    z-index: 10;
}
#pervyy .body .hand-right { /*рука п*/
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    top: 38px;
    left: 140px;
    width: 29px;
    height: 25px;
    background: #f0e915;
    z-index: 10;
}

#pervyy .legs { /*штаны*/
    border-radius: 0 0 10px 10px/37px;
    position: absolute;
    left: 22px;
    top: 154px;
    width: 140px;
    height: 23px;
    background: #643919;
    z-index: 5;
}
#pervyy .legs .foot-left, #pervyy .legs .foot-right { /*обувь*/
    border-radius: 50% 50% 0 0/7px;
    position: absolute;
    top: 18px;
    left: 2px;
    width: 70px;
    height: 8px;
    background: #000000;
    z-index: 5;
}
#pervyy .legs .foot-right { /*нога п*/
    left: 69px;
}
/*КОНЕЦ ПЕРВОГО ПЕРСОНАЖА*/

/*Второй персонаж*/
#vtoroy {
    position: relative;
    display: inline-block;
    height: 190px;
    width: 140px;
}
#vtoroy .face { /*лицо*/
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 110px;
    height: 110px;
    background: #ffd3a9;
    z-index: 15;
}
#vtoroy .face .hat { /*шапка*/
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -3px;
    left: 4px;
    width: 104px;
    height: 47px;
    border: solid 10px #3cbc03;
    border-top-width: 18px;
    border-bottom-width: 0;
    background: #048a27;
    z-index: 5;
}
#vtoroy .face .hat:before { /*шапка л*/
    border-radius: 300% 70%;
    content: " ";
    position: absolute;
    top: 18px;
    left: -26px;
    width: 24px;
    height: 50px;
    background: #3cbc03;
}
#vtoroy .face .hat:after { /*шапка п*/
    border-radius: 70% 300%;
    content: " ";
    position: absolute;
    top: 18px;
    left: 84px;
    width: 24px;
    height: 50px;
    background: #3cbc03;
}
#vtoroy .face .eye-left, #vtoroy .face .eye-right { /*глаза*/
    border-radius: 65% 50%;
    position: absolute;
    top: 40px;
    left: 22px;
    width: 32px;
    height: 37px;
    background: #ffffff;
}
#vtoroy .face .eye-left:after, #vtoroy .face .eye-right:after { /*зрачки*/
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 16px;
    left: 3px;
    height: 3px;
    width: 3px;
    background: #000000;
}
#vtoroy .face .eye-right { /*глаз п*/
    border-radius: 50% 65%;
    left: 55px;
}
#vtoroy .face .smile { /*улыбка*/
    border-radius: 65% 50%;
    box-shadow: 0 1px 0 black;
    position: absolute;
    top: 87px;
    left: 45px;
    width: 20px;
    height: 8px;
}
#vtoroy .body { /*тело*/
    border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
    position: absolute;
    top: 98px;
    left: 19px;
    height: 72px;
    width: 100px;
    background: #e95300;
    z-index: 10;
}
#vtoroy .body:before { /*ободок куртки*/
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: -10px;
    left: 12px;
    width: 78px;
    height: 31px;
    border-bottom: solid 13px #3cbc03;
}

#vtoroy .body .zipper { /*молния*/
    position: absolute;
    top: 27px;
    left: 49px;
    width: 1px;
    height: 45px;
    background: #000000;
}

#vtoroy .body .button-1, #vtoroy .body .button-2, #vtoroy .body .button-3 { /*пуговицы*/
    border-radius: 50%;
    position: absolute;
    top: 37px;
    left: 44px;
    height: 4px;
    width: 2px;
    background: #000000;
}
#vtoroy .body .button-2 { /*пуговица 2*/
    top: 51px;
}
#vtoroy .body .button-3 { /*пуговица 3*/
    top: 62px;
}
#vtoroy .body .hand-left { /*рука 2*/
    border-radius: 40% 40% 40% 60%;
    position: absolute;
    top: 55px;
    left: -6px;
    width: 20px;
    height: 20px;
    background: #3cbc03;
    z-index: 10;
}
#vtoroy .body .hand-right { /*рука п*/
    border-radius: 40% 40% 60% 40%;
    position: absolute;
    top: 55px;
    left: 83px;
    width: 20px;
    height: 20px;
    background: #3cbc03;
    z-index: 10;
}

#vtoroy .legs { /*штаны*/
    border-radius: 44px 44px 0 0;
    position: absolute;
    left: 32px;
    top: 154px;
    width: 75px;
    height: 25px;
    background: #235d44;
    z-index: 5;
}
#vtoroy .legs .foot-left, #vtoroy .legs .foot-right { /*обувь*/
    border-radius: 50% 50% 0 0/7px;
    position: absolute;
    top: 21px;
    left: -5px;
    width: 45px;
    height: 5px;
    background: #21241e;
    z-index: 5;
}
#vtoroy .legs .foot-right { /*обувь п*/
    left: 33px;
}

/*КОНЕЦ ВТОРОГО ПЕРСОНАЖА*/


/*ТРЕТИЙ ПЕРСОНАЖ*/
#tretiy {
  position: relative;
  display: inline-block;
  height: 190px;
  width: 125px;
}
#tretiy:after {  /*верх шапки*/
  content: " ";
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 48px;
  width: 24px;
  height: 23px;
  background: #c3042f;
  z-index: 99;
}
#tretiy .face {  /*лицо*/
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 6px;
  width: 110px;
  height: 112px;
  overflow: hidden;
  background: #fad3aa;
  z-index: 15;
}
#tretiy .face .hat {  /*шапка*/
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 78px;
  background: #4e5798;
}
#tretiy .face .hat:before {  /*оводка шапки*/
  content: " ";
  border-radius: 50% 70%;
  position: absolute;
  top: 32px;
  left: -3px;
  width: 134px;
  height: 48px;
  background: #c3042f;
}
#tretiy .face .hat:after {  /*лицо часть*/
  content: " ";
  border-radius: 50% 70%;
  position: absolute;
  top: 43px;
  left: -6px;
  width: 137px;
  height: 42px;
  background: #fad3aa;
}
#tretiy .face .eye-left, #tretiy .face .eye-right {  /*глаза*/
  border-radius: 65% 50%;
  position: absolute;
  top: 45px;
  left: 26px;
  width: 31px;
  height: 36px;
  background: #ffffff;
}
#tretiy .face .eye-left:after, #tretiy .face .eye-right:after { /*зрачки*/
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 10px;
  left: 18px;
  height: 3px;
  width: 3px;
  background: #000000;
}
#tretiy .face .eye-right { /*глаз П*/
  border-radius: 50% 65%;
  left: 58px;
}
#tretiy .face .smile { /*улыбка*/
 border-radius: 50% 50%;
    box-shadow: 0 1px 0 black;
    position: absolute;
    top: 90px;
    left: 50px;
    width: 20px;
    height: 8px;
}

#tretiy .body { /*куртка*/
  border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  position: absolute;
  top: 99px;
  left: 10px;
  height: 70px;
  width: 100px;
  background: #905947;
  z-index: 10;
}
#tretiy .body .zipper { /*Молния*/
  position: absolute;
  top: 27px;
  left: 49px;
  width: 1px;
  height: 42px;
  background: #5c0011;
}
#tretiy .body .button-1, #tretiy .body .button-2, #tretiy .body .button-3 {  /*пуговицы*/
  border-radius: 50%;
  position: absolute;
  top: 37px;
  left: 44px;
  height: 4px;
  width: 2px;
  background: #5c0011;
}
#tretiy .body .button-2 { /*пуговица 2*/
  top: 51px;
}
#tretiy .body .button-3 { /*пуговица 3*/
  top: 62px;
}
#tretiy .body .hand-left { /*рука л*/
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: -6px;
  width: 20px;
  height: 20px;
  background: #c3042f;
  z-index: 10;
}
#tretiy .body .hand-right { /*рука п*/
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 83px;
  width: 20px;
  height: 20px;
  background: #c3042f;
  z-index: 10;
}
#tretiy .legs { /*штаны*/
  border-radius: 44px 44px 0 0;
  position: absolute;
  left: 22px;
  top: 154px;
  width: 80px;
  height: 25px;
  background: #4e5798;
  z-index: 5;
}
#tretiy .legs .foot-left, #tretiy .legs .foot-right { /*обувь*/
  border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 21px;
  left: -8px;
  width: 48px;
  height: 5px;
  background: #21241e;
  z-index: 5;
}
#tretiy .legs .foot-right {
  left: 36px;
}
/*КОНЕЦ ТРЕТЬЕГО ПЕРСОНАЖА*/

/*Четвертый персонаж*/
#chetverty {
  position: relative;
  display: inline-block;
  height: 190px;
  width: 125px;
}
#chetverty .face { /*Лицо*/
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 5px;
  width: 115px;
  height: 116px;
  background: #fcd6a7;
  z-index: 15;
}
#chetverty .face .hat { /*капюшон*/
  border-radius: 50%;
  box-shadow: 0 1px 0 #8d370a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 26px #f1590e;
  border-left-width: 23px;
  border-right-width: 23px;
  z-index: 10;
}
#chetverty .face:before { /*капюшон внутри*/
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 25px;
  left: 0;
  right: -30px;
  bottom: 25px;
  border-left: solid 34px #6d3a1d;
  z-index: 5;
}
#chetverty .face:after { /*капюшон внутри*/
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 25px;
  left: -30px;
  right: 0;
  bottom: 25px;
  border-right: solid 34px #6d3a1d;
  z-index: 5;
}
#chetverty .face .eye-left, #chetverty .face .eye-right { /*глаза*/
  border-radius: 65% 50%;
  position: absolute;
  top: 41px;
  left: 26px;
  width: 31px;
  height: 36px;
  background: #ffffff;
}
#chetverty .face .eye-left:after, #chetverty .face .eye-right:after { /*зрачки*/
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 15px;
  left: 19px;
  height: 3px;
  width: 3px;
  background: #000000;
}
#chetverty .face .eye-right { /*глаз л*/
  border-radius: 50% 65%;
  left: 58px;
}
#chetverty .face .eye-right:after { /*глаз п*/
  top: 14px;
  left: 7px;
}
#chetverty .face .lace { /*ободок внутри капюшона*/
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: 17px;
  right: 18px;
  bottom: 17px;
  border: solid 1px #6d3a1d;
  z-index: 15;
}
#chetverty .face .lace:before { /*шнурок Л*/
  border-radius: 0% 0% 100% 0%;
  box-shadow: 1px 1px 0 #6d3a1d;
  content: " ";
  position: absolute;
  top: 61px;
  left: 31px;
  width: 6px;
  height: 19px;
  z-index: 10;
}
#chetverty .face .lace:after { /*шнурок П*/
  border-radius: 0% 0% 0% 100%;
  box-shadow: -1px 1px 0 #6d3a1d;
  content: " ";
  position: absolute;
  top: 61px;
  left: 41px;
  width: 5px;
  height: 20px;
  z-index: 10;
}
#chetverty .body { /*куртка*/
  border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  box-shadow: 0 1px 0 #f1590e;
  position: absolute;
  top: 115px;
  left: 10px;
  height: 56px;
  width: 100px;
  background: #f1590e;
  z-index: 10;
}
#chetverty .body .zipper { /*молния*/
  position: absolute;
  top: 14px;
  left: 50px;
  width: 1px;
  height: 47px;
  background: #6d3a1d;
}
#chetverty .body .hand-left { /*рука л*/
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: -2px;
  width: 20px;
  height: 20px;
  background: #673e1e;
  z-index: 10;
}
#chetverty .body .hand-right { /*рука п*/
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 87px;
  width: 20px;
  height: 20px;
  background: #673e1e;
  z-index: 10;
}
#chetverty .legs { /*штаны*/
  border-radius: 44px 44px 0 0;
  position: absolute;
  left: 22px;
  top: 154px;
  width: 80px;
  height: 25px;
  background: #f1590e;
  z-index: 5;
}
#chetverty .legs .foot-left, #chetverty .legs .foot-right { /*обувь*/
  border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 21px;
  left: -8px;
  width: 48px;
  height: 5px;
  background: #6d3a1d;
  z-index: 5;
}
#chetverty .legs .foot-right { /*обувь п*/
  left: 36px;
}
/*КОНЕЦ ЧЕТВЕРТОГО*/

