/* СБРОС СТИЛЕЙ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; /* обнуляем внешние отступы */
	padding: 0; /* обнуляем внутренние отступы */
	border: 0; /* убираем бордюры */
	outline: 0; /* убираем контуры */
	font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
	vertical-align: baseline; /* устанавливаем базовое вертикальное выравнивание */
	background: transparent; /* устанавливаем фон прозрачным */
}
body {
	line-height: 1; /* устанавливаем базовую высоту */
    margin: auto; /*убираем отступы*/
}
 ul {
	list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}

:focus {
	outline: 0; /* убираем контуры вокруг ссылок при фокусе */
}
ins {
	text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
	text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
	border-collapse: collapse; /* убираем рамки двойной толщины */
	border-spacing: 0; /* убираем расстояние между ячейками */
}

/*Убираем декорации у ссылки*/
a {
    text-decoration: none;
}
/* КОНЕЦ СБРОС СТИЛЕЙ */

p{
    text-indent: 20px;
}

body{
    /* Выравниваем блоки по центру и объединяем их*/
    width: 968px;
	margin: auto;
}

h1{
    padding: 5px 5px;
    font-family: Ariston;
    font-size: 30px;
    text-align: center;
}

h2{
    padding: 5px 5px;
    font-family: Ariston;
    font-size: 25px;
    text-align: center;
}

/*Задаем настройки всему телу сайта*/
header{
    height: 264px;
    background-image: url(img/hapka.png);
    background-repeat: no-repeat;
}

/*Герб*/
.gerb{
    height: 202px;
    width: 208px;
    position: relative;
    float: left;
    padding: 25px 0px 10px 66px;
}

nav{
    width: 680px;
    height: 50px;
    display: inline-block;
    margin-top: 170px;
    margin-left: auto;
}

/*Позиция навигации*/
.navigathia{
    padding: 9px 1px;
    list-style-type: none;
    width: 695px;
    text-align: center;
}

/*Стиль меню*/
.navigathia a{
    font-family: Times;
    padding: 10px 10px;
    font-size: 25pt;
    color: #696969;
    text-decoration: none;
}

/*Меню в строку*/
.navigathia li { display: inline; }

/*При наведении на меню*/
.navigathia a:hover {
    color: rgba(255, 255, 255, 0.88);
}

/*Текущая страница сайта*/
#navig-seitchas{
    color: #ff1a1a;
}

/*Блок братной связи*/
#obrsvaz{
    display:inline-block;
    margin: 10px 0px 0px 510px;
}
/*Стиль блока обратной связи*/
#obrsvaz a{
    font-family: Times;
    font-size: 20pt;
    text-decoration: none;
     color: #ff1a1a;
}


/*Подвал сайта*/
footer{
    width: 958px;
    background-color: #696969;
    padding: 0 10px 10px 0;
}

footer p{
    padding: 3px 3px 3px 3px;
    color: #000000;
    text-align: right;
}

.footer-navigathia {
    width: 605px;
    height: 20px;
    padding: 10px 182px;
}

.footer-navigathia li {
     display: inline;
}


/*Позиция навигации*/
.navigathia{
    padding: 9px 1px;
    list-style-type: none;
    width: 695px;
    text-align: center;
}

/*Стиль меню*/
.footer-navigathia a{
    font-family: Times;
    margin: 50px 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15pt;
    color: #ffffff;
    text-decoration: none;
}

/*При наведении на меню*/
.footer-navigathia li a:hover {
    color: #ff1a1a;
}

/*Основыне посты на странице*/
section{
    margin: 5px auto;
    width: 800px;
    padding: 20px 20px 20px 20px;
}

.post{
    margin: 0px auto 20px auto;
}

/*Титулка постов*/
.post-title{
    color: #fff;
    background-color: #f72626;
    padding: 5px 30px;
    outline: 1px solid rgba(255, 26, 26, 0.56);
    
}

.post-title a{
    font-family: Time;
    font-size: 30px;
    color: #fff;
}

.post-tema{
    text-align: center;
    padding: 20px 20px;
    outline: 1px solid rgba(255, 26, 26, 0.56);
    border: 4px solid #d8d8d6; /* Белая рамка */
    border-radius: 0px 0px 30px 30px ; /* Радиус скругления */
}

.post-tema img{
    padding-bottom: 20px;
    height: 350px;
}

.post-tema p{
    text-align: justify;
}

.post-timez{
    padding-top: 10px;
    text-align: right;
    color: #696969;
}

/*Боковая колонка сайта*/
.aside-istoria{
    padding: 20px 5px 0px 5px;
    width: 300px;
    float: left;
}

.aside-istoria audio{
    padding-bottom: 20px;
}

.aside-istoria img{
    padding: 5px auto;
    width: 250px;
}

.section-istoria{
    width: 500px;
    display: inline;
}

.section-istoria{
    
}

/*СТИЛЬ ТАБЛИЦЫ ДАТЫ ИСТОРИЯ*/
.section-istoria table {
    border-spacing: 0 10px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.section-istoria caption{
    padding: 5px 10px;
    text-align: center;
}

.section-istoria th {
    padding: 10px 50px;
    background: #f72626;
    color: #fff;
    border-right: 2px solid; 
    font-size: 0.9em;
}
.section-istoria th:first-child {
    text-align: left;
}
.section-istoria th:last-child {
    border-right: none;
}
.section-istoria td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #696969;
}
.section-istoria td:first-child {
    width: 80px;
    border-left: 2px solid #696969;
    border-right: none;
}
.section-istoria td:nth-child(2){
    text-align: left;
}
.section-istoria td:nth-child(3){
    text-align: justify;
}
/*КОНЕЦ СТИЛЯ ТАБЛИЦЫ*/

/*Cтраница культура*/
.post-kultura h1{
    color: #fff;
    background-color:  #f72626;
    margin-bottom: 10px;
}

.post-kultura{
    margin: 0 0 25px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
    background-color: #fff;
}

.post-kultura p{
    text-align: justify;
    padding: 0 15px 0 10px;
    text-indent: 20px;
}

.post-kultura img{
    padding: 10px 10px 10px 10px;
}

.post-kultura ol{
    padding-top: 10px;
    margin: 0 10px 25px 30px;
}

.post-kultura li{
    padding: 5px 5px 5px 5px;
}

figcaption {
    font-size: 15px;
    text-align: right;
}

#cite-p {
    text-align: right;
}

blockquote {
    padding: 5px 20px 5px 20px;
    text-indent: 30px;
    text-align: justify;
}
blockquote, q {
    font-family: Times, serif;
    font-style: italic;
    color: #b90f0f;
}

.post-infrastr h1{
    color: #fff;
    background-color:  #f72626;
    margin-bottom: 10px;
}

/*Страница инфраструктура*/
.post-infrastr{
    margin: 0 0 25px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    background-color: #fff;
}

.post-infrastr p{
    text-align: justify;
    padding: 0 15px 0 10px;
    text-indent: 20px;
}

.post-infrastr ul{
    text-decoration: none;
    padding-top: 10px;
    margin: 0 10px 25px 30px;
}

.post-infrastr li{
    padding: 5px 5px 5px 5px;
}

/*Страница обратная связь*/

main{
    margin: 0 0 25px 0;
    padding-bottom: 10px;
    background-color: rgb(250, 250, 250);
}

.main-title{
    color: #fff;
    background-color: #f72626;
    padding: 5px 30px;
    outline: 1px solid rgba(255, 26, 26, 0.56);
}

.main-osnova{
    text-align: center;
}

.main-p-forma{
    padding: 10px 20px 10px 0;
    font-size: 25px;
    color: #000000;
}

fieldset{
    margin: 3px 0;
    border: 1px #f72626 solid;
}


.main-tema{
    text-align: center;
    padding: 20px 20px;
    outline: 1px solid rgba(255, 26, 26, 0.56);
    border: 4px solid #d8d8d6; /* Белая рамка */
    border-radius: 0px 0px 30px 30px ; /* Радиус скругления */
}

.main-tema p{
    text-align: justify;
}

/*Поля обязательные к заполнению*/
.required_notification {
    color:#650f0f;
    margin: -8px 0 0 0;
    display:inline;
    float:right;
}

.formcommun{
    height: 850px;
}

/*Расположение элементов формы*/
.formcommun ul{
     width:600px;
    list-style-type:none;
    list-style-position:outside;
    margin:0 auto;
}

.formcommun li{
    font-size: 18px;
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.formcommun label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.formcommun input{
    height:20px;
    width:220px;
    padding:5px 8px;
}

.formcommun select, option {
    height:30px;
    width:240px;
    padding:5px 8px;
}

.formcommun textarea {padding:8px; width:300px;}

.formcommun input, .formcommun textarea, .formcommun select {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.formcommun input:focus, .formcommun textarea:focus{
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

/*Ободок снизу*/
.formcommun li:first-child, .formcommun li:last-child {
    border-bottom:1px solid #777;
}

/* Cтиль кнопки */
button.submit {
    font-family: Andantino_script;
    font-size: 30px;
    background-color: #f72626;
    border: 1px solid #cb1515;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    text-shadow: 0 -1px 0 #089a37;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    padding: 10px 0;
    border: 1px solid #f72626;
}

legend{
    color: #ea2127;
    font-family: Andantino_script;
    font-size: 25pt;
}

details{
    padding: 15px 0;
}
