/* СБРОС СТИЛЕЙ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; /* обнуляем внешние отступы */
	padding: 0; /* обнуляем внутренние отступы */
	border: 0; /* убираем бордюры */
	outline: 0; /* убираем контуры */
	font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
	vertical-align: baseline; /* устанавливаем базовое вертикальное выравнивание */
	background: transparent; /* устанавливаем фон прозрачным */
}
body {
	line-height: 1; /* устанавливаем базовую высоту */
    margin: auto; /*убираем отступы*/
}
 ul {
	list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}

:focus {
	outline: 0; /* убираем контуры вокруг ссылок при фокусе */
}
ins {
	text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
	text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
	border-collapse: collapse; /* убираем рамки двойной толщины */
	border-spacing: 0; /* убираем расстояние между ячейками */
}
/* КОНЕЦ */


/*Убираем декорации у ссылки*/
a {
    text-decoration: none;
}

/* Шрифты */
@font-face{
    font-family:Andantino_script;
    src:url(css/Andantino_script.ttf);
}

@font-face{
    font-family:Tahoma;
    src:url(css/tahoma.ttf);
}

/*Стиль для цитат*/

blockquote, q {
    font-family: Times, serif; /* Шрифт с засечками */ 
    font-style: italic; /* Курсивное начертание текста */
    color: #121f13; /* Цвет текста */
}

blockquote{
    padding: 5px 20px 5px 20px;
    text-indent: 30px;
    text-align: justify;
}

cite{
    padding: 10px 5px;
}

#cite-p{
    text-align: right;
}

figcaption{
    font-size: 13px;
    text-align: right;
}


body{
    background-color: #ebe8e8;
}

/* Выравниваем блоки по центру и объединяем их*/
#wrapper {
	width: 1124px;
	margin: auto;
}

h1{
    font-family: Andantino_script;
    font-size: 30pt;
    padding-bottom: 10px;
    text-align: center;
}


h2{
    font-family: Andantino_script;
    font-size: 25pt;
    padding-bottom: 10px;
    text-align: center;
}

header{
    
    margin-left: 50px;
    width: 1024px;
    height: 559px;
    background-image: url(images/fon.png);
    background-repeat: no-repeat;
    
}
/*Название на шапке */
#gorod{
    width: 400px;
    height: 120px;
    float: left;
    padding: 108px 0px 0px 83px;
}

/* Название города */
#imaG{
    font-family: Andantino_script;
	color:#FFF;
    font-size: 60pt;
}

/* Подпись города */
#podposG{
    font-family: Tahoma;
    color:#ea2127;
    font-size: 22pt;
    padding-left: 10px;
    
    
}
/* Герб */
#gerb{
    position:relative; /*Положение элемента устанавливается относительно его исходного места*/
    float: right;
    padding-top: 56px;
    padding-right: 105px;
}

/*Прокрутка до якоря*/
.idTop img{
    height: 80px;
    
}
a.idTop {
    position: fixed; /*позиционирование кнопки фиксированное*/
    z-index: 9999; /*отображаем поверх всех элементов*/
    bottom: 0%; /*положение снизу*/
    right: 0%; /*положение справа*/
    opacity: .6; /*прозрачность*/
    color: #fff; /*цвет текста*/
    padding: 10px; /*внутренние отступы*/
    margin: 5px 15px 15px 5px; /*внешние отступы*/
}
a.idTop:hover {
 opacity: 1;
}

/* Главная навигация */
nav{
    width: 1124px;
    height: 71px;
    background-color: #089a37;
}

.menu-main {
    position:inherit; /*Наследуемое позиционирование*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 1124px;
    text-align: center;
    background-color: #089a37;
}
.menu-main li { display: inline; }

.menu-main a {
    font-family: Andantino_script;
    font-size: 26pt;
    color: #fff;
    padding: 22px 10px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
}

/*При наведении на меню*/
.menu-main a:hover {
    border-radius: 20px 5px;
    background-color: #ea2127;
}

/*Подчеркивание текущей страницы*/
#menu_naxogd{
    text-decoration: underline;
}

/*Боковая колонка сайта*/
aside{
    margin: 50px 0px 0px 50px;
    width: 314px;
    float: left;
}

.info{
    padding: 10px 0px 10px 0px;
    font-family: Andantino_script;
    font-size: 26pt;
    color: #fff;
    height: 419px;
    width: 314px;
    margin: 10px 0 30px 0;
    background-image: url(images/info.png);
    background-repeat: no-repeat;
}
.info p{
    padding: 0px 10px 0px 15px;
}

#info-zagolovok{
    padding: 0 0 20px 0;
    text-align: center;
   text-decoration: underline;
}
.p-left{
    font-family: Tahoma;
    font-size: 25px;
    text-align: right;
}

.prazbnik{
    padding: 10px 0px 10px 0px;
    font-family: Andantino_script;
    font-size: 26pt;
    color: #fff;
    height: 419px;
    width: 314px;
    margin: 10px 0 30px 0;
    background-image: url(images/den.png);
    background-repeat: no-repeat;
}

.prazbnik p{
    padding: 15px 10px 0px 10px;
}

.p-opisania{
    text-align: inherit;
    font-size: 30px;
}

/*Основыне посты на странице*/
section{
    width: 678px;
    padding: 60px 0 0 40px;
    overflow: hidden;
}


.post-tema{
    margin: 0 0 25px 0;
    padding-bottom: 10px;
    width: 670px;
    background-color: #fff;
    
}

.post-tema-zagolovok{
    padding: 10px 0 10px 30px;
    background-color: #089a37;
}

.post-tema-zagolovok a{
    text-decoration: none;
    font-family: Andantino_script;
    font-size: 25pt;
    color: #ffffff;
}

.post-tema-osnova{
    text-align: center;
}

.post-tema-osnova img{
    margin: 10px 0 10px 0;
    height: 320px;
}


.post-time{
    padding-left: 10px;
    color: #ea2127;
}

/* Подвал сайта*/
footer{
    width: 1024px;
    height: 80px;
    margin: auto;
    background-color: #089a37;
}

footer > p{
    color: #fff;
    text-align: center;
}

/* Меню в подвале сайта*/
menu{
    padding-left: 0px;
}

.footer-main{
    margin:0 auto;
}

.footer-main { width: 400px; }

.footer-main li {
    display:  inline-block;  /* Строчно-блочные элементы */
    margin-right: 1px; /* Расстояние между пунктами меню */
}

.footer-main a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 10px 5px; /* Поля вокруг текста */
}

/*При наведении на меню*/
.footer-main a:hover {
    border-radius: 20px 5px;
    background-color: #ea2127;
}


/*СТИЛЬ ТАБЛИЦЫ НА СТРАНИЦЕ ИСТОРИЯ*/
table {
    border-spacing: 0 10px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
}

caption{
    padding: 5px 10px;
    text-align: center;
}

th {
    padding: 10px 20px;
    background: #089a37;
    color: #fff;
    border-right: 2px solid; 
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #089a37;
}
td:first-child {
    width: 80px;
    border-left: 2px solid #089a37;
    border-right: none;
}
td:nth-child(2){
    text-align: left;
}
td:nth-child(3){
    text-align: justify;
}
/*КОНЕЦ СТИЛЯ ТАБЛИЦЫ*/

/*СТИЛЬ ДЛЯ КУЛЬТУРЫ*/

.post-kultura{
    margin: 0 0 25px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 670px;
    background-color: #fff;
}

.post-kultura p{
    text-align: justify;
    padding: 0 15px 0 10px;
    text-indent: 20px;
}

.post-kultura img{
    padding: 10px 10px 10px 10px;
}

.post-kultura ol{
    padding-top: 10px;
    margin: 0 10px 25px 30px;
}

.post-kultura li{
    padding: 5px 5px 5px 5px;
}

/*СТИЛЬ ДЛЯ ИНФРАСТРУКТУРЫ*/
.post-infrastructure{
    margin: 0 0 25px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 670px;
    background-color: #fff;
}

.post-infrastructure p{
    text-align: justify;
    padding: 0 15px 0 10px;
    text-indent: 20px;
}

.post-infrastructure img{
    padding: 10px 10px 10px 10px;
}

audio{
    padding: 10px 10px 10px 180px;
}

.post-text{
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
}

.post-text ul{
    margin: 5px 5px 5px 30px;
    list-style:disc;
}


/*СТИЛЬ ДЛЯ СВЯЗИ*/

main{
    margin: 0 0 25px 0;
    padding-bottom: 10px;
    width: 670px;
    background-color: #fff;
}

.main-zagolovok{
    padding: 10px 0 10px 30px;
    background-color: #089a37;
}

.main-osnova{
    text-align: center;
}

#p-svaz{
   text-decoration: none;
    font-family: Andantino_script;
    font-size: 25pt;
    color: #ffffff;  
}

.formcommun{
    height: 850px;
}

.formcommun ul{
     width:600px;
    list-style-type:none;
    list-style-position:outside;
    margin:0 auto;
}

.formcommun li{
    font-size: 18px;
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

/*Ободки сверху и снизу*/
.formcommun li:first-child, .formcommun li:last-child {
    border-bottom:1px solid #777;
}

.required_notification {
    color:#d45252;
    margin: -8px 0 0 0;
    display:inline;
    float:right;
}

.formcommun label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.formcommun input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.formcommun textarea {padding:8px; width:300px;}


.formcommun input, .formcommun textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.formcommun input:focus, .formcommun textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

/* Cтиль кнопки */
button.submit {
    font-family: Andantino_script;
    font-size: 30px;
    background-color: #089a37;
    border: 1px solid #089a37;
    border-radius: 3px;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    text-shadow: 0 -1px 0 #089a37;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    padding: 10px 0;
    border: 1px solid #20911e;
}


.p-forma{
    padding: 10px 0 10px 0;
    font-size: 25px;
}

fieldset{
    margin: 3px 0;
    border: 1px #20911e solid;
}

legend{
    color: #ea2127;
    font-family: Andantino_script;
    font-size: 25pt;
}

details{
    padding: 15px 0;
}
